/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter";
  --font-weight-title: 700;
  --font-weight-paragraph: 400;
  --font-header: "Press Start 2P";
  --font-main-weight: 400;
  --font-main-header-weight: 700;
  --font-header-weight: 700;
  --watermark-color-shadow: white;
  --background-color: #ffffff;
  --text-color: #000000;
  --heart-color: red;
  --heart-contour-color: #000000;
  --sparks-color: red;
  --save-button-color: black;
  --background-img: repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
